.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

 
  min-height: 100svh;
  padding: 10px;
  font-family: var(--font-geist-sans);

  background-color: #383838;
}

.tile {
  /* border: 2px solid #1a1a1a */
  border-radius: 5px;
  background-color: white;

  width: 100%; /* Ensure the parent container has a defined width */
  max-width: 1.8rem;

  display: flex;
  padding: 8px 5px;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
}

.shadow {
  border-radius: 5px;
  background-color: gray;

  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  bottom: 5px;
  z-index: 1;
}

.black {
  border-radius: 5px;
  background-color: black;

  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 5px;
  z-index: 1;
}

.wrapper {
  position: relative;
  margin: 2px 0;
}
